html {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
.leckerli-one-regular {
  font-family: "Leckerli One", cursive;
  font-weight: 500;
  font-style: normal;
}

#quotes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  font-size: 2.5em;
  color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2em);
}

#goToTopBtn {
  /*display: none;*/
  position: fixed;
  width: fit-content;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1.5em;
  bottom: 2em;
  right: 2em;
  z-index: 99;
  border: solid 1px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2em);
  font-size: 0.8em;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

#chart {
  max-width: 700px;
  padding: 0em 2em ;
  margin: auto;
}

.main-flex {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 1em;
}


#waters {
  padding: 0%;
  border-radius: 1em;
  overflow: hidden;
}

#waters img {
  height: 60vh;
  object-fit: cover;
  border-radius: 1em;
  background-position: center center;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
}
.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.image-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 20em;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
}

.container-img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.flex-div {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.methods {
  background-color: rgb(125, 255, 255);
  padding: 2em;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
}

/* ANIMATIONS */

.container-img:hover {
  -webkit-animation: kenburns-top 5s ease-out both;
  animation: kenburns-top 5s ease-out both;
}
@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}
@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}

.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
